*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.fundo{
    background-color: #00011a;
    width: 100%;
    height: AUTO;
    color: white;
    display: flex ;
    flex-direction: column;
    gap: 10vh;

    .lang{

        display: flex;
        align-items: center;
        justify-content: space-around;
        
        
        .infos{
            display: flex;
            flex-direction: column;
            gap: 3vh;
            h2{

                font-size: 2vw;
            }
            .nome{
                color: #00BCF5;
                font-size: 3vw;
            }
            p{
                margin-top: -2vh;
                color: #a7a7a7;
            }

            .curriculo-contato{
                display: flex;
                gap: 1.5vh;

                .botao1{
                    
                    button{
                        padding: 1vw 3vw;
                        border-radius: 3.5vw;
                        border: 0px;
                        background: linear-gradient(90deg, rgba(0,94,162,1) 0%, rgba(0,80,203,1) 44%, rgba(0,212,255,1) 100%);
                        font-size: 18px;
                        color: white;
                        transition: all 0.3s;

                       
                        
                    }

                    button:hover{
                        transform: scale(0.92);
                    }
                }

                .botao2{
                    
                    button{
                        padding: 1vw 2.8vw;
                        border-radius: 3.5vw;
                        border: 1px solid #00BCF5;
                        font-size: 18px;
                        color: white;
                        background-color: transparent;
                        transition: all 0.3s;

                    }

                    button:hover{
                        transform: scale(0.92);
                        background: #00BCF5;
                    }
                }

                
            }
            
        }

        .foto{
            img{
                width: 27vw;
                transition: all 0.3s;

            }

            img:hover{
                transform: scale(1.04);
            }
        }
        
    }

   .sobre{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;

    p{
        width: 55%;
        font-size: 2.4vh;
        color: #a7a7a7;
    }

    h1{
        font-size: 34px; 
        font-weight: 700; 
    }
   } 

   .habilidades{
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 5vh;
    margin-top: 2vh;

    .titulo{

        
        h1{
            font-size: 34px; 
            font-weight: 700;
        }
    }

    .conetudo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 6vh;
        flex-wrap: wrap;
        margin-bottom: 4vh;
    }
   }

   .Projetos{
display: flex;
flex-direction: column;
gap: 6vh;

    .titulo{
        padding: 2vh;
        margin-top: 4vh;
        flex-direction: column;
        display: flex;
        align-items: center;
        width: 50vh;
        height: auto;
        border-top-right-radius: 1vh;
        border-bottom-right-radius: 5vh;
        
    
        background-color:  #646464;
        border-bottom: 0.8vh solid #00BCF5;
    }

    .meus-trabalhos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 4vh;
        margin-bottom: 2vw;
    }
   }
}