.mae{
    width: 100%;
    height: 4vh;
    color: white;
   display: flex;
   flex-direction: column;


    
    .informacoes{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 1vh 3vh;

            .primeira{
              
                img{
                    width:4vh ;
                    height: auto;
                }
            }
            .segunda{

              font-size: 34px; 
              font-weight: 700; 
            }
            .terceira{
                display: flex;
                gap: 10px;

                img{
                    width: 3.5vh ;
                    height: auto;
                }

                .git{
                    width: 3.8vh;
                }
            }
    }


        .linha {
            background-image: linear-gradient(90deg, rgba(0,94,162,1) 0%, rgba(0,80,203,1) 44%, rgba(0,212,255,1) 100%);
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: 100% 3px; 
            padding-bottom: 10px; 
          }
    
    
}